/*
* Componente ARTICLES
*/

.Articles
	&-imageContainer
		margin 0 auto
	&-image
		width 100%
	&-description
		padding 1em
		margin 0
		
/*Tablet*/

@media (min-width: 768px)
	.Articles
		display flex
		&-imageContainer
			margin 1em
		&:nth-child(odd)
			.Articles-imageContainer	
				order 2				
			.Articles-description
				order 1