article.Articles
	picture.Articles-imageContainer
		source(media="(min-width: 768px)", srcset="img/img01-desktop.jpg")
		source(media="(min-width: 320px)", srcset="img/img01-mobile-retina.jpg 2x")
		img.Articles-image(src="img/img01-mobile.jpg")
	p.Articles-description
		|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorum pariatur tempora sint dignissimos labore laudantium explicabo, tenetur, voluptatum debitis culpa inventore repellat, aliquam maxime eos consequuntur. Facilis, quo, perspiciatis.