doctype html
html(lang="es")
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	title
		|	Pagina Web
	link(rel="stylesheet", type="text/css", href="css/estilos.css")
body
	include ./components/Header/template.jade
	section.MainContent
		//- include ./components/Video/template.jade
		include ./components/Features/template.jade
		- for (var x = 0; x < 3; x++)
			include ./components/Articles/template.jade
	script(type="text/javascript", src="js/app.js")