/*COMPONENTE MENU PRINCIPAL*/

.MainMenu
	background-color $white
	color $black
	&-button
		background-color $white
	&-link
		color $black
	&-item
		transition all .3s ease
		&:hover
			background-color $black
			.MainMenu-link
				color $white