article.Text
	p.Text-paragraph
		|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorum pariatur tempora sint dignissimos labore laudantium explicabo, tenetur, voluptatum debitis culpa inventore repellat, aliquam maxime eos consequuntur. Facilis, quo, perspiciatis.