@import "nib"
@import "normalize.styl"

$black = #212121
$white = #FAFAFA

html
	font-size 16px
	font-family 'Open Sans', sans-serif /* Fuente de google fonts */
	
//estilos Contenido Principal

@import "../components/MainContent/estilos.styl"
	

//estilos header

@import "../components/Header/estilos.styl"
	
// estilos del menu 
	
@import "../components/MainMenu/estilos.styl"

// estilos del video
	
@import "../components/Video/estilos.styl"

// estilos Features
	
@import "../components/Features/estilos.styl"

// estilos Articles
	
@import "../components/Articles/estilos.styl"